## 1. Introduction

In this code, I use the following [tutorial](https://www.freecodecamp.org/news/connect-python-with-sql/) to create the database for my apple music data.

### 1.1 Loading Packages

In [1]:
# Import required packages
import mysql.connector
from mysql.connector import Error
import pandas as pd
import time

### 1.2 Connecting to Server

In [2]:
# Define function to create a server connection
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful.")
    except Error as err:
        print(f"Error: '{err}'")
        
    return connection

In [3]:
# Create server connection
connection = create_server_connection("localhost", "root", "")

MySQL Database connection successful.

### 1.3 Creating a New Database

In [4]:
# Define function to create a database
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully.")
    except Error as err:
        print(f"Error: '{err}'")

In [5]:
# Create music database
create_database_query = "CREATE DATABASE apple_music"
create_database(connection, create_database_query)

Database created successfully.

### 1.4 Connecting to Database

In [6]:
# Define function to connect to a database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [7]:
# Connect to apple music database
connection = create_db_connection("localhost", "root", "", "apple_music")

MySQL Database connection successful

### 1.5 Executing SQL Queries

In [8]:
# Define function to execute SQL queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

## 2. Creating the Tables

### 2.1 Track Activity Table

In [9]:
# Create play activity table
create_play_activity_table = """
    CREATE TABLE play_activity (
        artist_name VARCHAR(255),
        song_name VARCHAR(255),
        play_duration_ms FLOAT,
        end_reason_type VARCHAR(255),
        media_duration_ms FLOAT,
        event_timestamp VARCHAR(255)
    );
"""

In [10]:
# Execute query
execute_query(connection, create_play_activity_table)

Query successful

### 2.2 Library Table

In [17]:
# Create library table
create_library_table = """
    CREATE TABLE library (
        title VARCHAR(255),
        artist VARCHAR(255),
        album VARCHAR(255),
        genre VARCHAR(255),
        track_year INT,
        track_duration FLOAT,
        release_date VARCHAR(255),
        play_count INT
    );
"""

In [18]:
# Execute query
execute_query(connection, create_library_table)

Query successful